%script{ :type => "text/javascript", :src => "https://js.stripe.com/v2/"}
:javascript
  Stripe.setPublishableKey("#{ENV['STRIPE_PUBLIC_KEY']}");
= javascript_include_tag "payment"
%section.register
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for @user, html:{id:"payment-form" }, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-4"  do |f|
        %header
          %h3 Register
        .row
          = f.text_field :email, value: @email, label: "Email Address"
        .row
          = f.password_field :password, label: "Password"
        .row
          = f.text_field :name, label: "Full name"
          =hidden_field_tag :token, value: @token
        %fieldset.credit_card
          %span.payment-errors
          .row
            %label.control-label.col-sm-2 Credit Card Number
            .col-sm-4
              %input.form-control(id="data-stripe-number" type="text" data-stripe="number")
          .row
            %label.control-label.col-sm-2 Security Code
            .col-sm-4
              %input.form-control(id="data-stripe-cvc" type="text" data-stripe="cvc")
          .row
            %label.control-label.col-sm-2 Expiration
            .col-sm-4
              = select_month(Date.today, {add_month_numbers: true},id: "data-stripe-exp-month",  class: 'form-control',data: {stripe: "exp-month"})
            .col-sm-2
              = select_year(Date.today.year, {start_year: Date.today.year, end_year: Date.today.year + 4}, class: 'form-control',id: "data-stripe-exp-year", data: {stripe: "exp-year"})
        .row
          .col-sm-offset-2
            = f.submit "Sign Up"