%section.register
  .row
    .col-sm-10.col-sm-offset-1
      = form_for @user  do |f|
        %h3 Register
        .row
          .col-sm-2= f.label :Email_Address
          .col-sm-2= f.text_field :email, value: @email
        .row
          .col-sm-2= f.label :Password
          .col-sm-2= f.password_field :password
        .row
          .col-sm-2= f.label :Full_name
          .col-sm-2= f.text_field :name
          =hidden_field_tag :token, value: @token
        %br
        .row
          .col-sm-2
          .col-sm-3
            %script{src:"https://checkout.stripe.com/checkout.js",class: "stripe-button","data-key"=> @stripe_public_key, "data-image"=> "/square-image.png", "data-name"=> "Myflix websiet", "data-description"=> "only 9.99usd)","data-amount"=>"999"}
/
  %section.register
  Register
  = form_for @user  do |f|
    = f.label :Email_Address
    = f.text_field :email
    %br
    = f.label :Password
    = f.password_field :password
    %br
    = f.label :Full_name
    = f.text_field :name
    %br
    = f.submit "Sign Up"