%article.video
  .container
    .row
      .col-sm-7.col-sm-offset-1
        %img.video_large_cover{src: "/#{@video.url_large_cover}"}
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span="Rate: "+ @video.average_rating.to_s
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          = link_to "+Queue", queue_items_path(video_id: @video.id), method: :post, class: 'btn btn-default' if current_user.have_queued_video?(@video)

%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for [@video, Review.new] do |f|
        %label.row Rate this video
        .row= f.select(:rating, options_for_video_reviews, class: "col-sm-3")
        %label.row Write Review
        .row.margin_bottom_10=f.text_area :description, rows: 6, class: "col-sm-8"
        .row
          %input(type="submit" value="Submit" class="btn btn-default")
          = link_to "Cancel", @video, class: "btn btn-default"

      %header
        %h3= "Users Reviews("+ "#{@video.reviews.count}"+")"
      %ul
        - @video.reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span= "Rating: "+ review.rating.to_s + "/5" 
                =precede "by" do
                  =link_to " #{review.user.name}", user_path(review.user)
              .col-sm-8
                %p= review.description