%section.admin_add_video
  .container
    .row
      .col-md-10.col-md-offset-1
        .form-horizontal
          %ul.nav.nav-tabs
            %li
              %a(href="/admin/userpaymentrecord") Recent Payments
            %li.active
              %a(href="") Add a New Video
          %br
          = form_for [:admin, @video], class: 'form-horizontal',:html => {:multipart => true} do |f|
            .form-group
              %label.control-label.col-sm-3 Title
              .col-sm-3
                = f.text_field :title, class: "span3"
            .form-group
              %label.control-label.col-sm-3 Category
              .col-sm-6
                = select(:video, :category_id, Category.all.map{|cat|[cat.name,cat.id]})   
            .form-group
              %label.control-label.col-sm-3 Description
              .col-sm-6
                = f.text_area :description, rows: "6", cols: "50"
            .form-group
              %label.control-label.col-sm-3 Large Cover
              .col-sm-6
                %col.btn.btn-file
                  = image_tag(@video.avatar_url) if @video.avatar?
                  = f.file_field :large_cover, class: "btn btn-file"
            .form-group
              %label.control-label.col-sm-3 Video Url
              .col-sm-6
                %col.btn.btn-file
                  = f.text_field :video_url
            .form-group
              %label.control-label.col-sm-3 Small Cover
              .col-sm-6
                = f.file_field :small_cover, class: "btn btn-file"

            .form-group
              %label.control-label.col-sm-3
              .col-sm-3= f.submit "Add Video"
